<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href='/img/weather1.png'>
        <link rel="stylesheet" href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Hey! Himangini 😇 how's you it's been long time i have seen you, try this out Get weather for your location</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-0"></p>
            <p id="message-1"></p>
            <p id="message-2"></p>
             <img class='portrait' src='/img/himangini.jpg'>
        </div>
 
        {{>footer}}
        <script src='/js/app.js'></script>
        
    </body>
</html>